.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main{
  
}
.title{
  font-size: 1.5rem;
  color: #95e1d3;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}
.flex{
  display: flex;
}
.flex input{
  width: 12rem;
  height: 1.5rem;
  border: 1px solid #dbdbdb;
}
.flex input:focus{
  border-color: #66afe9;
  outline: 0;
  outline-style: none;
  outline-width: 0;
}
.flex .left{
  width: 12rem;
}
.form{
  display: flex;
  justify-content: center;
}
.btn{
  display: flex;
  justify-content: center;
}
.btn button{
    margin-left: 1rem;
    margin-right: 1rem;
    height: 2rem;
    background-color: #51adcf;
    color: #fafafa;
    font-weight: 650;
    border: none;
    border-radius: 4px;
}
.btn button:hover{
  cursor: pointer;
}
#kq{
  color: #66afe9;
  margin-bottom: 2rem;
  font-size: 16px;
}
